@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

#dynwaresLink {
    text-align: center;
    display:block;
}

#githubLink {
    text-align: center;
    display: block;
}

#overlay {
        display: inline-block;
        bottom: 0;
        left:0;
        outline: none;
        cursor: pointer;
        position: absolute;
        margin: 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        padding: 14px 24px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
        color: #fff;
}

#overlay:hover {
    animation: colorChange 5s infinite;
}

#iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
}

#aboutButton {
    display: inline-block;
    bottom: 0;
    left:0;
    outline: none;
    cursor: pointer;
    position: absolute;
    margin: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}

#aboutButton:hover {
        animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% { background: rgb(236, 10, 63); }
    25% { background: rgb(93, 10, 202); }
    50% { background: rgb(8, 188, 201); }
    75% { background: rgb(113, 204, 8); }
    75% { background: rgb(211, 181, 9); }
    100% { background: rgb(236, 10, 63); }
}